In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
def compute_r2(X, y):
    model = LinearRegression().fit(X, y)
    return model.score(X, y)

In [47]:
def compute_coef(X, y):
    model = LinearRegression().fit(X, y)
    return model.coef_

In [45]:
def compute_intercept(X, y):
    model = LinearRegression().fit(X, y)
    return model.intercept

In [43]:
#url = "https://liangfgithub.github.io/Data/quiz2_toydata1.dat"
#data1 = pd.read_csv(url, sep=",")
data1 = pd.read_csv("Q2Auto.data",delim_whitespace=True)

In [36]:
data1

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
389,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
390,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
391,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

Question 1

Using mpg as response and displacement as predictor, perform a simple linear regression (round to the 2nd decimal place)

In [50]:
X1 = data1[['displacement']]
y = data1[['mpg']]
coef = compute_coef(X1, y)
print(f"slope y ~ X1 = {coef[0][0]:.6f}")

slope y ~ X1 = -0.060051

Question 2

Continue with Question 1. The R-square is

In [51]:
r2 = compute_r2(X1, y)
print(f"R-square for y ~ X2 = {r2:.6f}")

R-square for y ~ X2 = 0.648229

Question 3

Fit a multiple linear regression model using mpg as response and the other seven variables except "name" (i.e., cylinders, displacement, horsepower, weight, acceleration, year, origin) as predictors.

The coefficient associated with displacement is

In [52]:
X2 = data1[['cylinders', 'displacement','horsepower', 'weight', 'acceleration', 'year', 'origin']]
coef = compute_coef(X2, y)
print("coefficients: ", coef)

coefficients:  [[-0.49337632  0.01989564 -0.01695114 -0.00647404  0.08057584  0.75077268
   1.4261405 ]]

In [57]:
b0, b1, b2, b3, b4, b5 = 50, 20, 0.07, 35, 0.01, -10
def salary(gender, IQ, GPA):
    return b0 + b1*GPA + b2*IQ + b3*gender + b4*GPA*IQ + b5*GPA*gender
salary(1,100,4)

136.0